body {
    width: 803px;
    border: 1px solid black;
}
.reference {
    background-color: #def
}
span.input-group-addon {
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
}
